.solutions {
  background-color: #FCE38A;
  color: #1a1c23;
  border-radius: 20px;
  padding: 2rem;
  margin-top: 2rem;
  width: 100%;

  ul {
    font-family: Kalam, Montserrat, sans-serif;
    font-size: 20px;
  }
}